<!DOCTYPE html>
<html>
<head>
	<title>Simple Sign In</title>
</head>
<body>
	<h1> Please sign in!</h1>
<form method="post" action="/login">
  <div>
    <input type="text" name="user[email]" placeholder="email">
  </div>
  <div>
    <input type="password" name="user[password]" placeholder="password">
  </div>
  <button>Login</button>
</form>
</body>
</html>